db.sqlite3
compiled_static/*
*.pyc
migration.log
tmp/*
x_stuff/*
.pytest_cache/*
envato/files/*
.cache/*
.DS_Store
media/*
static_cdn/*
tempdata/
templates/version.html
media/*
vid
.venv
.idea
ppay
pcms
__pycache__/*
*.code-workspace
conf/
venv/
dt_dev.sql
docker-compose.me.yaml
env
.env
yo.py
report.csv
lol.sh
